In [14]:
import pandas as pd
import numpy as np

In [6]:
#Una especie de clave valor, pero con un indice personalizado
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'],
          index=[1, 7, 11,10]
          )

In [6]:
psg_players[1]

'Navas'

In [4]:
#Otra forma de declarar un diccionario
dict = {1: 'Nava', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}
pd.Series(dict)

1       Nava
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [7]:
psg_players[0:3]

1      Navas
7     Mbappe
11    Neymar
dtype: object

In [8]:
#Formando un arreglo matricial indexada por filas y columnas, el cual se puede acceder de multiples modos
# Un diccionario de tres dimenciones
dict = {'Jugador':['Navas', 'Mbappe', 'Neymar', 'Messi'],
 'altura': [170.0,183.0,178.0,170.0], 
 'Goles': [4, 200, 500, 820]
 }

In [10]:
pd.DataFrame(dict)

  Jugador  altura  Goles
0   Navas   170.0      4
1  Mbappe   183.0    200
2  Neymar   178.0    500
3   Messi   170.0    820

In [12]:
df_Players = pd.DataFrame(dict)
#Para entrar por columnas
df_Players.columns

Index(['Jugador', 'altura', 'Goles'], dtype='object')

In [13]:
#Para entrar por renglones
df_Players.index

RangeIndex(start=0, stop=4, step=1)

In [17]:
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])